.DS_Store
demoosx
builds/aiff_loader_ui.prg
builds/argb8888_texture.prg
builds/audio_black_window.prg
builds/audio_peak_meters.prg
builds/audio_player_smooth_meters.prg
builds/audio_player_ui.prg
builds/audio_sine.prg
builds/audio_visualizer_fft.prg
builds/bench_cpu_frequency_win31.prg
builds/bench_cpu_frequency.prg
builds/bgra8888_streaming.prg
builds/fence_renderer.prg
builds/framebuffer_partial.prg
builds/joystick_graphical.prg
builds/keyboard_graphical.prg
builds/keyboard_resizable.prg
builds/keyboard_simple.prg
builds/mixer_aiff_minimal.prg
builds/mixer_streaming_ui.prg
builds/mixer_wav.prg
builds/partial_redraw_interactive.prg
builds/perf_test_dirty_surface.prg
builds/perf_test_dirty_texture.prg
builds/perf_test_surface_fillrect.prg
builds/plasma_texture.prg
builds/sdl2_bgr32_test.prg
builds/sdl2_demo_1.gtp
builds/sdl2_demo_1.prg
builds/sdl2_rgb332.prg
builds/sms_keybindings.prg
builds/software_renderer.prg
builds/truecolor_modes.prg
builds/ttf_rendering.prg
builds/window_events.prg
builds/window_surface.prg
